#container > * {
    width: 400px;
    background-color: lightgrey;
    vertical-align: top;
    display: inline-block;
}
#right-column > * {
    padding: 15px; margin: 10px;
    text-align: center;
    border: solid 1px grey
}
label {
    display: block;
    margin: 10px 5px;
}
